* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #708d93;
  overflow-x: hidden;
  margin: 0;
}

.startScreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("photos/main.png") center/cover no-repeat;
  position: relative;
}

.mainText {
  color: white;
  position: absolute;
  left: 8rem;
  top: 12rem;
  font-size: 5rem;
  text-align: left;
}

.mainText h1 {
  line-height: 1.2;
}

.questions {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding-bottom: 4rem;

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.questionBox {
  width: 64vw;
  height: 60vh;
  padding: 2rem;
  background-color: #9db8bd;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #25262b;
  margin-bottom: 2rem;
  overflow: hidden;
}

.answer {
  font-size: 1.2rem;
  color: #2c3638;
  overflow-y: auto;
  flex: 1;
  padding-top: 1rem;
  padding-right: 1rem;

  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.answer ul,
.answer ol {
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  padding-left: 1rem;
}

.answer::-webkit-scrollbar {
  width: 8px;
}
.answer::-webkit-scrollbar-thumb {
  background-color: #789095;
  border-radius: 4px;
}
.answer::-webkit-scrollbar-thumb:hover {
  background-color: #51676b;
}

.questionBox h2 {
  font-size: 1.5rem;
  color: #0a0908;
  margin-bottom: 0.2rem;
}

.left {
  margin-left: 2rem;
}

.right {
  margin-left: auto;
  margin-right: 1rem;
}
